{% extends 'base.html.twig' %} 

{% block title %}
    NewTrick | Brendan Tuckerman
{% endblock %}

{% block body %}  
  <div class="container pt-40 flex flex-col justify-center items-center">

   
    
   {% if app.user %}
    

   
  <div class="title w-full flex flex-col items-start p-8">
    <h1 class="text-7xl font-bold leading-relaxed">That's a New Trick:
    <br>Blog of Brendan Tuckerman
    </h1>
  </div>

    {% else %}

    <div class="grid md:grid-cols-2 grid-cols-1 w-full p-10 gap-8">

    {# Cards with some tricky css #}

    {# Register #}

  <div class="card-container overflow-hidden shadow-xl bg-gray-200 relative hover:shadow-2xl hover:scale-105 duration-700 rounded">
    <div class="card-trip-infos flex p-5 justify-center relative items-center">
      <div>
        <h2 class="text-5xl font-semibold mb-4">Register</h2>
        <p>If you are new to the site, click here to register.</p>
      <a href="/register" class='card-link absolute top-0 bottom-0 left-0 w-full'></a>
      </div>
    </div>
  </div>
  {# Login #}

  <div class="card-container overflow-hidden shadow-xl bg-gray-200 relative hover:shadow-2xl hover:scale-105 duration-700 rounded">
    <div class="card-trip-infos flex p-5 justify-center relative items-center">
      <div>
        <h2 class="text-5xl font-semibold mb-4">Login</h2>
        <p>If you are have an existing account, click here to login</p>
      <a href="/register" class='card-link absolute top-0 bottom-0 left-0 w-full'></a>
      </div>
    </div>
  </div>    
    {#  Some neat tricks:
    
    <p>This information is found at self: {{ _self }} </p>

    <p>The charset being used is {{ _charset }} </p>

    <p>This page was created by {{ author }}</p> 

    <p>'Author' is a global variable set in the twig.yaml file</p> #}
    {% endif %}
  </div>

  

{% endblock %}   