{% extends "./base.html.twig" %}

{% block body %}
<a href={{ path('admin_posts_index') }} class='text-blue-600 p-4'> &lt; Back to all posts</a>
<div class="w-4/5 m-auto">
    <h1 class="text-6xl text-center pb-12">
        Edit post
    </h1>
    <div class="form-container py-8">
        {{ form_start(form) }}

            {{ form_widget(form) }}
        
            <button    
                type="submit"
                class="uppercase mt-15 bg-blue-600 text-gray-100 text-lg py-4 px-8 rounded-3xl">
                Update
            </button>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}